<div class="container">
  {{#each records}}
    <div style="border: 1px solid black;">
      <p>{{this.name}}</p>
      <p>{{this.date}}</p>
      <p>{{this.category}}</p>
      <p>{{this.amount}}</p>
    </div>
  {{/each}}
</div>
